@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@400;500;600;700;800;900&family=Lexend+Peta:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  scroll-behavior: smooth;
}
/* Custom scrollbar */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #039860;
  border-radius: 4px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body {
  background-color: #ffc66a;
  overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 9px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.606);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff7b00;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dc6a00;
}

.animate-infinite {
  width: calc(400px * 20);
  animation: rotateInfinite 10s linear infinite;
}
@keyframes rotateInfinite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-400px * 5));
  }
}
.animate-spin {
  animation: spin 6s linear infinite;
}

.rotation:hover .wheel_rotate {
  animation: spin 0.2s linear 0s 2 alternate;
}
.white-stroke {
  text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
}
.text-shadow-none {
  text-shadow: none;
}

.comic-text-shadow {
  text-shadow: black 3px 3px;
}
.black-shadow-large {
  text-shadow: black 4px 4px;
}
.black-shadow {
  text-shadow: black 2px 2px;
}
.black-shadow-sm {
  text-shadow: black 1px 1px;
}
.white-shadow {
  text-shadow: white 2px 2px;
}
.extra-bold {
  text-shadow: 0px 3px, 3px 0px, 3px 3px;
}
.clipped-bg::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  z-index: -1;
  background-color: #ffae0040;
}

.carousel .animated {
  transition: none;
}
.carousel .control-arrow {
  display: none;
}
.thumbs-wrapper ul {
  transform: none !important;
}

.carousel-thumb > li > button {
  background: #ef3d69 !important;
  border-radius: 100% !important;
  width: 10px !important;
  height: 3px !important;
}
.carousel-dots li button:before {
  width: 12px !important;
  height: 6px !important;
  content: ' ' !important;
  border-radius: 999px;
  background-color: #9c7f47 !important;
  opacity: 100 !important;
}

.carousel-dots li.carousel-dots-active {
  margin-right: 16px;
}
.carousel-dots li.carousel-dots-active button:before {
  width: 28px !important;
  border-radius: 999px;
  background-color: #ef3d69 !important;
}
.products .carousel-dots li button:before,
.kitchen .carousel-dots li button:before {
  background-color: rgba(255, 255, 255, 0.606) !important;
}
.products .carousel-dots li.carousel-dots-active button:before {
  background-color: #9f2700 !important;
}
.kitchen .carousel-dots li.carousel-dots-active button:before {
  background-color: #41041a !important;
}
.carousel-prev {
  padding-right: 30px !important;
}
.carousel-next {
  padding-left: 30px !important;
}
.carousel-track {
  transition: all 0.4s;
}
.carousel-prev:before {
  background-image: url('./assets/home/left-arrow.png') !important;
  height: 40px !important;
  width: 40px !important;
}
.carousel-next:before {
  height: 40px !important;
  background-image: url('./assets/home/right-arrow.png') !important;
}
.discover-shadow {
  text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff, 6px 6px black;
}
@media (max-width: 600px) {
  .carousel-item {
    scale: 80% !important;
  }
  .carousel-track .active {
    scale: 100% !important;
  }
  .white-shadow {
    text-shadow: white 1px 1px;
  }
  .comic-text-shadow {
    text-shadow: black 1px 1px;
  }
  .black-shadow {
    text-shadow: black 1px 1px;
  }
  .black-shadow-large {
    text-shadow: black 3px 3px;
  }
  .discover-shadow {
    text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff, 3px 3px black;
  }
  .animate-infinite {
    width: calc(250px * 20);
    animation: rotateInfinite 8s linear infinite;
  }
  @keyframes rotateInfinite {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 5));
    }
  }
}

.fs_product_slider .swiper-button-prev,
.fs_product_slider .swiper-button-next {
  color: #000;
  width: 30px;
  height: 30px;

  svg {
    stroke-width: 1px;

    path {
      stroke: #000;
    }
  }
}
